/**
 * Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
    font-size: 14px;
	font-family: inherit;
	vertical-align: baseline;
}

body {
    background: #A2AB8E;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#center_wrapper {
    width: 950px;
    margin: 0px auto;
    background: #ffe;
    z-index: 30;
}

#sidebar {
    width: 400px;
    float: right;
    margin-top: 0px;
}

#sidebar > div {
    font-size: 14px;
    margin-top: 7px;
}

#sidebar > h3 {
    border-bottom: 1px #d7d7d7 solid;
    font-size: 16px;
}

#sidebar > h3 span {
    font-size: 14px;
    float: right;
}

#sidebar > h3 span a {
    text-decoration: none;
    color: #aaa;
}

#sidebar > h3 span a:hover {
    color: #000;
}

#sidebar li {
    margin-bottom: 5px;
}

#sidebar a {
    color: #2F9599;
}

#profile_picture {
    width: 90px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#change_pf_picture {
    margin-left: 75px;
    margin-bottom: 10px;
}

#edit_profile_container {
    width: 550px;
    float: left;
}

#formBox {
    width: 550px;
    background-color: #FFFFEE;
}

.edit_profile_heading {
    font-size: 36px;
    text-align: center;
    width: 600px;
}

.left {
    float: left;
    padding: 10px;
    width: 160px;
}

.left label {
    font-size: 28px;
}

.left label span {
    font-size: 12px;
    padding-top: 6px;
    font-family: Arial;
    display: block;
    color: #4F6F6E;
}

.right {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 20px 10px 30px 10px;
    width: 350px;
}

.topBorder {
     border-top: 1px solid #D7D7D7;
}

.right input {
    padding: 3px;
    width: 340px;
    height: 40px;
    font-size: 24px;
}

.right input, .right textarea {
    border: thin 1px #ccc;

}

#editInterests {
    padding: 3px;
    width: 340px;
    font-size: 16px;
    height: 108px;
    font-family: Helvetica;
}

.clear {
    height: 0;
    clear: both;
}

#submit_edits {
    background-color: #FFFFEE;
    text-align: center;
    font-size: 28px;
}

#submit_edits input {
    font-size: 28px;
    margin-bottom: 20px;
}

#submit_edits a {
    font-size: 28px;
}

.customLinkTemplate {
    display : none;
}

.linkValue {
    width: 40%;
    text-align: center;
    float: left;
    margin: 10px 10px 0 0;
}

.linkField {
    width: 40%;
    text-align: center;
    float: left;
    margin: 10px 20px 0 0;
}

.example .linkField, .example .linkValue {
    margin-top: 6px;
    font-size: 12px;
    font-family: Arial;
    color:#4F6F6E;
}

.linkField input, .linkValue input {
    width: 100%;
}

.fieldLabel {
    text-align: right;
    background-color: #FFFFEE
}

.removeLink {
    float: left;
    text-decoration : none;
    position : relative;
    top : 7px;
}


#addLinkDiv {
    padding-top : 8px;
    clear: both;
}


.center {
    text-align: center;
    
}

h4 {
    font-size : 28px;
}

h2 {
    font-size: 36px;
}

#tagContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    min-width:950px;
    text-align: center;
    color: #d0d3b3;
    z-index: -10;
}

#tagContainer a {
    color: #ffe;
    /*text-decoration:underline;*/
}

#tagline {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: serif;
    font-size: 1.0em;
    width: auto;
}

#taglineLinks {
    color: #ffe;
    font-size: 1.0em;
}
#taglineLinks a {
    padding : 10px;
}

#logoImage {
    padding-bottom: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
    background:#A2AB8E; 
}

#registerTitle {
    margin-left:auto;
    margin-right:auto;
    width: 950px;
    background: #FFFFEE;
    z-index: -30;
}