/* Stylings for classes to apply across all parts of the page */



/**
 * Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
    font-size: 14px;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/** End reset */

h3 {
    margin-top: 8px;
    margin-bottom: 5px;
}

a {
    color: #2f9599;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color: #2F9599;
}

a:visited:hover {
    text-decoration:underline;
}

#wrapper {
    background: #ffe;
    min-height: 100%;
}

.small {
    font-size: 1em;
    line-height: 1em;
}

.atxt {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #000000;
}

.atxt a {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #2f9599;
}

.btxt {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #000000;
}

.btxt a {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #2f9599;
    text-decoration: none;
}

.padded {
    margin: 5px;
}

.padded2 {
    margin: 10px;
}

.padded3 {
    margin: 20px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.lined {
    outline: thin solid #496181;
}

.bullets {
    list-style-type: disc;
}

/* Styles dealing with the general layout of the page */

html, body {
    margin: 0;
    padding: 0;
    background-color: #A2AB8E;
    min-width: 1040px;
}

#mainContent {
    min-height:680px;
    height:100%;
    position: absolute;
    left: 0px;
    right: 320px;
}

#sidebar {
    background: #ffe;
    height: 100%;
    min-height: 680px;
    width: 320px;
    float: right;
    font-family: helvetica, verdana, arial, sans-serif;
}

#wrapper {
    min-height: 100%;
}


#main {
    overflow: auto;
    padding-bottom: 25px;

}

/* Styles affecting the visualization */

#infovis {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background-color: #A2AB8E;
    min-width: 700px;
    height: 100%;
    min-height: 680px;
    position: absolute;
    right: 0px;
    left: 0px;
}

#infovis-canvaswidget {
    position: absolute !important;
    top: 0;
}

.node {
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.node:hover {
    cursor: pointer;
    color: #222;
    background-color: white;
    font-weight: bold;
}

.ttName {
    font-weight: bold;
    margin-bottom: 7px;
}

.ttDesc {
    margin-bottom: 7px;
}

.ttRel {
}

/* Styles that affect the sidebar*/

#account {
    text-align: right;
    font-size: 1em;
    font-family: helvetica, arial;
    margin: 5px;
}

h2#about {
    margin: 10px 0;
    text-align: center;
}

#mac_logo {
    overflow: hidden;
}

#searchBoxDiv, #personIdDiv, #interestIdDiv, #requestIdDiv{
    min-height: 135px;
}

#instructions {
    margin: 10px;
}

.topBorder {
    border-top: 1px dotted #CCCCCC;
}

.bottomBorder {
    border-bottom: 1px dotted #CCCCCC;
}

ul.styledList {
    font-size: 1em;
    list-style: none outside none;
    margin-left: 0;
    padding: 10px 0 10px 40px;
    text-indent: -1em;
}

ul#instruct_list li:hover {
    font-style: italic;
}

ul#instruct_list li:before, ul.styledList li:before{
    content: "\00BB \0020";
}

#logoImage {
    padding-bottom: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#hide {
    position: relative;
    text-align: left;
    padding: 5px;
    height: 15px;
    margin-top: -25px;
    clear: both;
}

#hide a {
    color: #2f9599;
    font-size: 1em;
    line-height: 1em;
}

#show {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
    height: 15px;
    padding: 5px;
}

#show a {
    color: #FFFFEE;
    font-size: 1em;
    line-height: 1em;
}

#signin {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    display: block;
    font-size: 1em;
    margin: 15px 5px 15px 15px;
    padding: 10px 0;
    width: 90%;
    height:89px;
}

#signin label {
    display: block;
    float : left;
    clear : both;
    margin: 3px 3px;
    text-align: right;
    width : 67px;
    padding-top : 9px;
}

#signin input.login_input {
    display: block;
    float : left;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #EEEEEE;
    margin-bottom: 7px;
    margin-top: 2px;
    min-height: 20px;
    padding: 5px 2px;
    width: 200px;
}

#signin input.login_input:focus {
    border: 1px solid #000000;
}

#signin a.forgot_password {
    display: block;
    float: left;
    font-size: 1em;
    margin-left: 30px;
    padding-top : 3px;
}

.login_submit {
    display: block;
    float: left;
    clear:both;
    margin-bottom: 5px;
    margin-left: 75px;
    padding: 2px;
}

/* Styles that affect the profile view */

#profile {
    margin-top: 10px;
    padding-right: 5px;
}

#profile a {
    text-decoration: none;
}

#profile a:hover {
    text-decoration: underline;
}

#pf_top_container {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

#pf_top_container_no_img {
    border-bottom: 3px #aaa solid;
}

#pf_left {
    width: 50%;
    float: left;
}

#pf_right {
    width: 50%;
    float: left;
    padding-top: 10px;
    text-align: right;
}

#pf_name {
    font-size: 1em;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    margin-left: 5px;
}

#pf_dept {
    color: #777;
    padding-right: 2px;
}

#profile div h4 {
    padding-bottom: 3px;
    margin-bottom: 2px;
    font-size: 1.125em;
}

#profile div h4:hover {
    font-style: italic;
}

#profile div ul, #profile div p {
    margin: 5px 4px;
}

#pf_interests, #pf_projects, #pf_links {
    margin-bottom: 10px;
    line-height: 1.25em;
}

#profile div ul li {
    margin-bottom: 4px;
}

#pf_name_no_img {
    font-size: 1.5em;
    padding: 0px 0;
    margin-bottom: 5px;
    margin-top: 5px;

}

h2#pf_name_no_img:after {

}

h3#pf_dept_no_img {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #777;
    padding-right: 2px;
}

#pf_email {
    margin-top:0px;
    line-height:1.25em;
    margin-bottom: 0px;
}

#pf_interests {
}

#pf_interests p {
}

#pf_projects {
}

#pf_projects h4 {
}

#pf_projects ul {
}

#pf_projects ul li {
}

#pf_projects ul li a {
}

#pf_links {
}

#pf_links h4 {
}

#pf_links ul {
}

#pf_links ul li {
}

#pf_links ul li a {
}

/* Styles that affect the account creation view*/

#registerDialog .registerLeft, #makeRequestDialog .registerLeft {
    border-top: 1px solid #D7D7D7;
    padding: 15px 10px 20px 10px;
    width: 160px;
    background-color: #FFFFEE;
}

#right_value.email {
    float: right;
}

.icon {
    position: absolute;
    left: -9999px;   /*hides icons so they don't push the email field in modalCreateUser out of the way*/
}

.registerRight input{
	padding:3px;
	width:380px;
	height:40px;
	font-size:1.125em;
}
.registerRight input, .registerRight textarea{
	border: thin 1px #ccc;

}

.registerRight{
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #D7D7D7;
	float:right;
	padding:19px 10px;
	width:400px;
}

#editInterests, #requestDescriptionBox, #requestKeywordsBox{
    width:380px;
}

#formBox{
    border-bottom: 1px solid #D7D7D7;
    max-width:800px;
}

.profileImage{
    width:200px;
    float:left;
}

.personLinks{
    float: right;
    width: 370px;
}

#other_info {
    width:600px;
}

.linkField {
    float:left;
}

.linkValue {
    float:right;
}

.linkField input {
    width:150px;
}

#submit_edits {
}

.warning {
    background:#FFDDDD;
    font-size:1.125em;
    text-align: center;
}

#edit_profile_container {
    overflow-y:auto;
    overflow-x:hidden;
    /*height:600px;*/
}

#editProfileBar {
    height: 30px;
    border-bottom: 1px solid #D7D7D7;
}

#cancelAccountCreation {
    float: right;
}

#addLinkDiv {
    clear: both;
}


/* properties that affect the search bar and search view*/

.moreSearchResults {
    position: relative;
    top: 5px;
}

#searchBox {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #B2D4EC;
    border: 0 none;
    color: #474953;
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 20px;
    padding: 10px 5px;
    width: 250px;
}

#searchBox:focus {
    background-color: #FFF;
    border: 1px solid #000;
    padding: 9px 4px;
}

#searchBoxDiv {
    margin-left: 10px;
    margin-right: 10px;
}

.searchHeader {
    margin-top: 10px;
}

.searchHeader a {
    font-size: 1em;
    margin-left: 5px;
}

#searchWrapper p {
    margin: 0;
}

#pageNav {
    text-align: center;
    margin: auto;
    padding-top: 15px;
    width: 300px;
    clear: both;
    height: 30px;
}

#deepSearchWrapper {
    min-height: 200px;
}

#requestResults #requestTittle {=
    font-weight: 600;
}

#requestResults p {
    margin: 0;
    margin-left: 10px;
}

#requestResults li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchDiv {
    margin: 5px 5px 5px 5px;
}

/* college filter related stuff*/

#editColleges {
    /*-moz-border-radius: 5px 5px 5px 5px;*/
    /*-webkit-border-radius: 5px;*/
    padding-top: 10px;
    height: 320px;

}

#add {
    float: left;
}

#clear {
    float: right;
}

#submitColleges {
    text-align: center;
    padding: 5px;
}

#selectedColleges {
    /*-moz-border-radius: 5px 5px 5px 5px;*/
    /*-webkit-border-radius: 5px;*/
    background-color: #ffe;
    height: 200px;
    padding: 5px;
    margin: 5px;
    margin-top: 40px;
    overflow: auto;
}

#close {

}

#closeCollegeFilter {
    padding: 0px;
    margin: 0px;
    float: right;
}
#closeCollegeFilter a{
    font-size:1.5em;
    color: #FFFFEE;
}

#collegeSearchAuto {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #B2D4EC;
    border: 0 none;
    height: 25px;
    width: 160px;
    padding: 5px 3px;

}

#collegeSearchAuto:focus {
    background-color: #FFF;
    border: 1px solid #000;
    padding: 4px 2px;

}

#collegeFilterButton {
    margin-top: 10px;
    color: #333;
}

/* styles that affect the request for collaboration view*/

#coll_top_container {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

#coll_request {
}

#coll_request p {
    margin-bottom: 8px;
}

#coll_request p span {
    margin-right: 3px;
   line-height:1.5em;
    font-weight: bold;
}

#coll_title {
    font-size: 1.25em;
    margin-bottom: 10px;
    padding: 0px 0;
    margin-bottom: 10px;
    border-bottom: 3px #aaa solid;
}

#coll_kw {
}

#coll_created {
}

#coll_due {
}

#coll_desc {
    line-height: 1.25em;
}

/* Styles for the interest view*/

#interest_info {
}

h2#interest_selected {
    font-size: 1.5em;                                                                 0
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 3px #aaa solid;
}

/*h2#interest_selected:before {*/
/*content: url(../assets/int_tag.png);*/
/*}*/

#interest_related {
}

#interest_people {
}

#interest_related h3, #interest_people h3 {
}

#interest_related ul, #interest_people ul {
    padding-left: 15px;
}

#interest_related ul li, #interest_people ul li {
    list-style-type: none;
    margin: 2px 0 0 8px;
}

#interest_related ul li:before, #interest_people ul li:before {
    content: "\00BB \0020";
}

#interest_related ul li a, #interest_people ul li a {
    margin-right: 3px;
}

#interest_related ul li span {
    font-size: 1em;
    color: #bbb;
}

/* other stuff */

h2 {
    line-height: 1.0em;
    font-style: normal;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

.registerLeft label {
    font-size: 1.5em;
}
.registerLeft label span {
    font-size: .66em;
    padding-top: 6px;
    font-family: Arial;
    display: block;
    color: #4F6F6E;
}

#edit_profile_container {
}

/**
* Image uploader configuration
*/
/*.profileImage {*/
    /*margin-top: 10px;*/
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    /*float: left;*/
/*}*/

.editPicture {
    font-size: 1em;
    text-align: center;
    line-height: 1.25em;
}

.editPicture .links {
    position: relative;
}

.editPicture .links a {
    z-index: -1;
}

#imgUploaderUploader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 25px;
    z-index: 100;
}

/**
 * Shilad's hacks to get the jqmodal looking better for development.
 */
#edit_pf .registerLeft, #makeRequestDialog .registerLeft{
    float: left;
}
#edit_pf .right, #makeRequestDialog .registerRight {
    float: right;
}
#edit_pf .clear, #rfcForm .clear{
    clear: both;
}

/**
 * Shilad's link widget.
 */
.personLinks {float : left; }
.linkField { width : 150px; }
.linkValue { width : 150px; }
.customLinkTemplate {
    display : none;
}
.personLinks {
}
.personLinks .example {
    font-size : 1em;
    font-style: italic;
    padding-bottom : 20px;
}

.linkField {
    width: 160px;
    padding-left: 5px;
    float: left;
}

.linkValue {
    width: 160px;
    padding-left: 5px;
    float: left;
}

.removeLink {
    float: right;
    padding: 1px;
    font-size: 1.125em;
}

.customLinkTemplate {
    display: none;
}

/**
 * Progress bar
 */
.progressBar {
    display : none;
    background-image: url(../images/pbar-ani.gif);
}
.progressBar span {
    position : absolute;
}

#tagContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    min-width:720px;
    text-align: center;
    color: #d0d3b3;
}

#tagContainer a {
    color: #ffe;
    /*text-decoration:underline;*/
}

#tagline {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: serif;
    font-size: 1.0em;
    width: auto;
}

#taglineLinks {
    color: #ffe;
    font-size: 1.0em;
}
#taglineLinks a {
    padding : 10px;
}
