#passwordEdit {

    background: $background-color;
    
    #main {
        background: white;
        padding-top: 75px;
        padding-bottom: 50px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        width: 650px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        form {
            position: relative;
            left: 10px;
        }
        div,span,li,label,p,input {
            font-family : Arial;
            font-size : 18px;
        }
        p {
            margin : 10px 0px;
        }
        table {
            margin : 20px 20px;
        }
        label {
            text-align : right;
            width : 100%;
            margin : 10px 10px;
        }
        td {
            padding-top : 10px;
            text-align : right;
        }
        h2 {
            font-size : 28px;
            font-weight : bold;
            margin-bottom : 20px;
            color : #003333;
        }
    }
}

